# Visit the official documentation for more info:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM

# Basic things
ColumnLimit: 120
IndentWidth: 2

# Customizations
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline
BreakConstructorInitializers: BeforeComma

InsertNewlineAtEOF: true
SeparateDefinitionBlocks: Always
AllowShortBlocksOnASingleLine: Always

# Indenting macros like
AlignConsecutiveMacros: Consecutive

# Indenting preprocessor directives for complex PP in platform.h
IndentPPDirectives: BeforeHash
PPIndentWidth: 2

# Avoid indenting lambda bodies
LambdaBodyIndentation: OuterScope
